---

name: ansible-lint

on:
  pull_request:
    paths:
      - .config/ansible-lint.yml
      - .github/workflows/ansible-lint.yml
      - galaxy.yml
      - meta/**
      - roles/**
  push:
    branches:
      - main
      - wip/next
    paths:
      - .config/ansible-lint.yml
      - .github/workflows/ansible-lint.yml
      - galaxy.yml
      - meta/**
      - roles/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ansible/ansible-lint@v25

...
