---

name: molecule-ssh-audited

on:
  pull_request:
    paths:
      - .config/molecule/**
      - .github/workflows/molecule-ssh-audited.yml
      - roles/ssh_base/**
      - roles/ssh/**
      - roles/ssh_audited/**
  push:
    branches:
      - main
      - wip/next
    paths:
      - .config/molecule/**
      - .github/workflows/molecule-ssh-audited.yml
      - roles/ssh_base/**
      - roles/ssh/**
      - roles/ssh_audited/**
  schedule:
    - cron: '0 8 * * 1' # Monday 8 AM

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - name: archlinux
            ansible: '2.20'
            python: '>=3.12 <3.15'
          - name: rockylinux-8
            ansible: '2.16' # latest to support target python 3.6
            python: '>=3.10 <3.13'
          - name: rockylinux-9
            ansible: '2.20'
            python: '>=3.12 <3.15'
          - name: ubuntu-focal
            ansible: '2.19'
            python: '>=3.11 <3.14'
          - name: ubuntu-jammy
            ansible: '2.20'
            python: '>=3.12 <3.15'
        scenario:
          - default

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.distro.python }}
      - run: >-
          pip3 install
          ansible-core~=${{ matrix.distro.ansible }}.0
          docker
          molecule
          molecule-plugins[docker]
      - run: ansible --version
      - run: molecule --version
      - run: >-
          molecule test
          -p ${{ matrix.distro.name }}
          -s ${{ matrix.scenario }}
        working-directory: ./roles/ssh_audited
        env:
          ANSIBLE_DIFF_ALWAYS: 'True'
          PY_COLORS: '1'

...
