---

name: molecule-ssh-audit

on:
  pull_request:
    paths:
      - .config/molecule/**
      - .github/workflows/molecule-ssh-audit.yml
      - roles/ssh_base/**
      - roles/ssh_audit/**
  push:
    branches:
      - main
      - wip/next
    paths:
      - .config/molecule/**
      - .github/workflows/molecule-ssh-audit.yml
      - roles/ssh_base/**
      - roles/ssh_audit/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - name: archlinux
            ansible: '2.20'
          - name: rockylinux-8
            ansible: '2.16' # latest to support target python 3.6
          - name: rockylinux-9
            ansible: '2.20'
          - name: ubuntu-focal
            ansible: '2.19'
          - name: ubuntu-jammy
            ansible: '2.20'
        scenario:
          - default

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: >-
          pip3 install
          ansible-core~=${{ matrix.distro.ansible }}.0
          docker
          molecule
          molecule-plugins[docker]
      - run: ansible --version
      - run: molecule --version
      - run: >-
          molecule test
          -p ${{ matrix.distro.name }}
          -s ${{ matrix.scenario }}
        working-directory: ./roles/ssh_audit
        env:
          ANSIBLE_DIFF_ALWAYS: 'True'
          PY_COLORS: '1'

...
